body {
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    color: #f9f9f9;
}

.container {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 16px;
    padding: 30px;
    margin: 100px auto;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
.character-img {
    width: 200px;
    border-radius: 1rem;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}
h1 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ff9f9f;
}
.quote-text {
    font-size: 18px;
    margin: 20px 0;
    font-style: italic;
}
.quote-author {
    font-size: 16px;
    color: #f0c987;
    margin-bottom: 20px;
}
button {
    background: #ff6b81;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}
button:hover {
    background: #ff4757;
}
