<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Quote of the Day</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Random quote</h1>
        <p

    class="quote-text">"{{ quote.text }}"</p>
    <h4 class="quote-author">-{{ quote.author }}</h4>
    <button onclick="fetchQuote()">New Quote</button>
         </div>
         <script>
            async function fetchQuote() {
                const res = await fetch('/api/quote');
                const data = await res.json();
                document.querySelector('.quote-text').textContent = `"${data.text}"`
                document.querySelector('.quote-author').textContent = `- ${data.author}`;
            }
         </script>
</body>
</html>
